:root {
  --theme-color: #eb00ff;
}

html {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100%;
  font-size: 2.5em;
  margin: 0;
}

nav {
  --min: 10ch;
  --gap: 1rem;

  margin: var(--gap);
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

nav button {
  background: var(--theme-color);
  border: none;
  padding: 0.5em;
  border-radius: 6px;
  font-size: 2rem;
  cursor: pointer;
}
