:root {
  --theme-color: #000000;
  --font-color: #eff;
  --mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  --system-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --gap: 1rem;
}

html {
  height: 100%;
}

body {
  background: var(--theme-color);
  font-family: var(--mono-font);
  font-size: 2.5em;
  margin: 0;
  min-height: 100%;
}

input, button, a {
  font-family: var(--system-font);
}

main {
  max-width: 60rem;
  margin: 0 auto;
}

header {
  background: var(--theme-color);
  color: var(--font-color);
  padding: 0.2em 0.5em;
}

header h1 {
  margin: 0.5em 0;
  font-size: 0.9em;
}

nav {
  margin: var(--gap);
}

nav button, nav a {
  background: none;
  border-radius: 6px;
  border: 2px solid var(--font-color);
  box-sizing: border-box;
  color: var(--font-color);
  cursor: pointer;
  display: block;
  font-size: 2rem;
  margin-bottom: 2rem;
  min-width: 100%;
  padding: 0.5em;
  text-align: left;
  text-decoration: none;
}

nav button svg, nav a svg {
  fill: var(--font-color);
  margin-right: 1rem;
  vertical-align: middle;
  width: 3.5rem;
}

.status-title {
  padding-top: 3px;
}

dialog {
  background-color: var(--font-color);
  padding-top: 2em;
}

dialog #close {
  background: dodgerblue;
  border-radius: 6px;
  border: none;
  color: var(--font-color);
  cursor: pointer;
  font-size: 1em;
  padding: 0.1em 0.3em;
  position: absolute;
  right: 6px;
  top: 6px;
}
